<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BuyDAO">

<insert id="selectBuy" parameterType="buy">
insert into BUY (BNO, BDATE, PAY, TOTALPRICE, MID, GID, BCOUNT) 
value(#{BNO},#{BDATE},#{PAY},#{TOTALPRICE},#{MID},#{GID},#{BCOUNT}) 
</insert>


<select id="buyList" parameterType="member" resultType="buy">
select b.gid gid, b.bdate bdate, g.gname gname, b.bcount bcount, b.totalprice totalgoodspay, b.pay pay, g.delivery delivery, g.dcost deliveryfee, (g.dcost+b.totalprice) totalorderprice
     from buy b, goods g 
      where b.gid=g.gid and b.mid=#{mid}
      order by b.bdate desc
</select> 

</mapper>