<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewDAO">


<!-- 	sid+img 추후 추가  + gid 설정-->
	<insert id="insertReview" parameterType="review">
		INSERT INTO review(rno,rcontent,gid,score)
		VALUES(rno_seq.nextval,#{rcontent},#{gid},#{score})
		</insert>
</mapper>