<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SellListDAO">


	
<select id="getSellList" parameterType="String" resultType="com.sajo.domain.SellListVO">
		<![CDATA[
		select b.bdate bdate, g.gname gname, b.mid mid, b.bcount bcount, b.pay pay from buy b, goods g
		where b.gid=g.gid and g.sid=#{sellerid}
		order by b.bdate desc
	
		]]>
</select>	


	
</mapper>