@charset "UTF-8";

/* add to cart 버튼 스타일 */
#add_cart{
width: 300px;
height:80px;
font-size: 20px;

}
/* goods이름 스타일  */
#goods_name{
    font-size: 40px;
    font-weight: bold;
    color:black;
/*     width: 380px; */
}
/* goods가격 스타일 */
#goods_price{
	font-size: 30px;
	color: grey;
	font-weight: bold;
	float: right;
}
/* goods 자세히 보기 이미지 배열스타일 */
#detail-image{
	text-align: center;
}
/* 별로 안중요한거 스타일 */
.not_import{
	color: BLACK;
}
/* 보통 중요한거 스타일 */
.middle_import{
	font-size : 30px;
	color: black;
}
/* 보통 스타일 */
.small_import{
	font-size : 20px;
	color: black;
}
/* 버튼 스타일  */
.button1 {
    outline: none;
    border: none;
    background: #EBA823;
    padding: 10px 0;
    color: #fff;
    width: 30%;
    font-size: 1em;
    text-transform: uppercase;
    margin: 2em 0 0;
    cursor: pointer;
}
.button1:hover {
	outline: none;
    border: none;
    background: #3975ed;
    padding: 10px 0;
    color: #fff;
    width: 30%;
    font-size: 1em;
    text-transform: uppercase;
    margin: 2em 0 0;
}
/* 리뷰 폼 스타일 */
/* .reviewForm{ */
/* 	background: none; */
/*     border: 1px solid #999; */
/*     border-top: none; */
/*     color: #424341; */
/*     padding: 10px; */
/*     font-size: 14px; */
/*     outline: none; */
/* } */
.writing {
	background: none;
    border: 5px solid #82cdfb;
    font-size: 14px;
    outline: none;
    background:#ffffff;
    
}
.reading {
	background: none;
    border: 5px solid #ffc403;
    font-size: 14px;
    outline: none;
    background:#ffffff;
    
}
/* 리뷰 작성하는 textarea 테두리 하늘 */
#reviewarea{
	background: none;
    border: none;
    padding: 10px;
    font-size: 14px;
	min-height: 200px;
    resize: none;
    width: 100%;
    maxlength : 10;
    margin: 1.5em 0;
}

/* review리스트 textarea  */
#taliststyle{
	background: none;
    border: none;
    padding: 10px;
    font-size: 14px;
	min-height: 150px;
    resize: none;
    width: 100%;
    maxlength : 10;
    margin: 1.5em 0;
	
}
.small_import_border{
	font-size : 20px;
	color: black;
	border-right: 5px solid #ffc403;
}
/* 유미언니 스타일 멋져 */
table.redTable {
	border: 2px solid #EBA823;
	background-color: none;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

table.redTable td, table.redTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

table.redTable tbody td {
	font-size: 15px;
}

table.redTable tr:nth-child(even) {
	background: #F5C8BF;
}

table.redTable thead {
	background: #EBA823;
}

table.redTable thead th {
	font-size: 19px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #EBA823;
}

table.redTable thead th:first-child {
	border-left: none;
}

table.redTable tfoot {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background: #EBA823;
}

table.redTable tfoot td {
	font-size: 13px;
}

table.redTable tfoot .links {
	text-align: right;
}

table.redTable tfoot .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #3975ED;
	padding: 2px 8px;
	border-radius: 5px;
}
/* 유미언니가 준걸 blue 타입으로 변경  */
table.blueTable {
	border: 2px solid #EBA823;
	background-color: none;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

table.blueTable td, table.redTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

table.blueTable tbody td {
	font-size: 15px;
}

table.blueTable tr:nth-child(even) {
	background: #b9d7fb;
}

table.blueTable thead {
	background: #EBA823;
}

table.blueTable thead th {
	font-size: 19px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #EBA823;
}

table.blueTable thead th:first-child {
	border-left: none;
}

table.blueTable tfoot {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background: #EBA823;
}

table.blueTable tfoot td {
	font-size: 13px;
}

table.blueTable tfoot .links {
	text-align: right;
}

table.blueTable tfoot .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #3975ED;
	padding: 2px 8px;
	border-radius: 5px;
}
