<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="buy" type="com.sajo.domain.BuyVO" />
		<typeAlias alias="goods" type="com.sajo.domain.GoodsVO" />
		<typeAlias alias="member" type="com.sajo.domain.MemberVO" />
		<typeAlias alias="notice" type="com.sajo.domain.NoticeVO" />
		<typeAlias alias="qna" type="com.sajo.domain.QnaVO" />
		<typeAlias alias="review" type="com.sajo.domain.ReviewVO" />
		<typeAlias alias="seller" type="com.sajo.domain.SellerVO" />		
	</typeAliases>


</configuration>

